.control-button {
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.control-button__undo {
    background-image: url('./../../../assets/undo.svg');
    margin: 0;
}

.control-button__redo {
    background-image: url('./../../../assets/redo.svg');
    margin: 0;
}